.main-jumbo{
	background-image: url('../img/sci_fi.jpg');
	color:white;
	background-attachment: fixed;
	min-height: 400px;
	margin-top: 0px;
	margin-bottom: 3px;
}
body,.jumbo-2{
	background-color: #4D4D4D; 
}
.jumbo-2{
  color:white;
}

.footer{
	padding:5em 0;
	color:white;
	text-align:center;
}
.footer h3{
	
	font-size:3em;
	text-transform:uppercase;
	margin-bottom:1em;
	font-family: 'Quicksand', sans-serif;
}
.footer p{
  
  font-size: 1em;
  line-height: 1.8em;
  font-weight: 300;
}
ul.socials {
  padding: 0;
  list-style: none;
  margin: 2em 0 0 0;
}
ul.socials li {
  display: inline-block;
}
i.fb{
	background: url(../img/fb.png)no-repeat #4d53be 23px 21px;
    margin-right:5px;
}
.socials li a i.fb, .socials li a i.tw {
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  height: 80px;
  width: 80px;
  display: inline-block;
  color: #fff;
  text-align: center;
}
.socials li a i.fb:hover{
   background: url(../img/fb.png)no-repeat #4248AE 23px 21px;
}
.socials li a i.tw {
   background: url(../img/tw.png)no-repeat #00aeef  26px 22px;
}
.socials li a i.tw:hover{
  background: url(../img/tw.png)no-repeat #01A1DE 26px 22px;
}
.copy{
	margin:2em 0 0 0;
}

.outer_th{
	  text-align: center;
  font-size: 16px;
  color: #333d40;
  height: 270px;
  width: 270px;
  border: 10px solid #03D3CC;
  padding: 20px;
  border-radius: 500px;
  -webkit-border-radius: 500px;
}

.inner_th{
	  border: 2px solid #03D3CC;
  height: 100%;
  border-radius: 100%;
  padding: 20px;

}
.inner_th:hover{
	background-color: #03D3CC;
	  border: 2px solid #03D3CC;
  height: 100%;
  border-radius: 10%;
  padding: 20px;
  transition: border-radius 2s;
  transition: background-color 1s;


}
.subhead{
	padding:5px;

}

